body{
    background-color: #D3DBDE;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

h2{
    background-color: #7B929D;
    color: #415058;
}

h3{
    background-color: #98AAB3;
    font-style: italic;
    color: #586C78;
}

p{
    background-color: #B6C2C9;
}

.firma{
    text-align: right;
    background-color: white;
    font-style: italic;
}

.primeralinea{
    color: #2078A9;
}

.resaltado{
    color: #0088CC;
    font-weight: bold;
}