@font-face{
    font-family: "monoton";
    src: url("fonts/monoton.woff2");
}

.body{
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.container{
    background-image: url("img\matrix.png"), url("img\matrix2.png");
    background-position: left top, right top;
    background-repeat: repeat-y, repeat-y;
    background-size: 50px, 50px;
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    font-family: "monoton";
    text-align: center;
    color: #05c705;
}

p{
    text-align: justify;
}

.iconos{
    text-align: center;
    font-size: 50px;
}

table{
    margin-left: 15%;
    margin-right: 15%;
}

.titulos{
    background-color: #05c705;
    font-size: 25px;
    font-weight: bold;
}

.pie{
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #05c705;
    margin-left: 15%;
    margin-right: 15%;
}

.pong{
    float: right;
    border: white 5px solid;
    outline: #05c705 5px solid;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 1%;
}

.space{
    float: left;
    border: white 5px solid;
    outline: #05c705 5px solid;
    margin-right: 2%;
    margin-top: 2%;
    margin-left: 1%;
}

.pacman{
    float: right;
    border: white 5px solid;
    outline: #05c705 5px solid;
    margin-left: 2%;
    margin-top: 2%;
    margin-right: 1%;
}

.amarillo{
    color: yellow;
}

.rojo{
    color: red;
}

.verde{
    color:  #05c705;
}
 